[Bb]in
Deploy/*.msi
Deploy/*.wixpdb
Deploy/Package
Deploy/Wxs
Export
[Oo]bj
[Pp]ackages
AssemblyInformationalVersion.cs
build_version.html
Client/Repository/Temp/*
_ReSharper*
*.suo
*.nupkg
*.bom
*.dll
*.pdb
*.user
*.orig
*.zip
.nuget/*/*
nuget.exe
/Dependencies/ScenarioBuildTools/*
!*.proj
Scenarios/Released/App.config
*.DotSettings
Scenarios/Released/GeneratedFiles/*
PublicService/Logs/*
Service/OAuth/App_Data/auth.txt